<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">



	<link rel="stylesheet" href="../../bootstrap/bootstrap-4.0.0-dist/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="../../bootstrap/bootstrap-4.0.0-dist/css/bootstrap.min.css">
    
    <link th:href="@{~/css_new/bootstrap.css}" type="text/css" rel="stylesheet" media="all">
    <link rel="stylesheet" type="text/css" th:href="@{~/css_new/style11.css}" /><!-- menu style sheet -->
    <link th:href="@{~/css_new/style.css}" type="text/css" rel="stylesheet" media="all">
    <!-- //Custom Theme files -->
    <!-- font-awesome icons -->
    <link th:href="@{~/css_new/font-awesome.css}" rel="stylesheet" type="text/css" media="all" />
    <!-- //font-awesome icons -->
   
	<link rel="stylesheet" type="text/css" media="all" 	href="../../css/home.css" th:href="@{/css/home.css}" />
	<link rel="stylesheet" type="text/css" media="all" 	href="../../css/general.css" th:href="@{/css/general.css}" />
	

<title>Insert title here</title>
</head>
<body>


<header th:insert="fragments/general.html :: header"> </header> 


<div class="container-fluid">
		<div class="row main-content bg-success text-center">
			<div class="col-md-4 text-center company__info">
				
				<h4 class="company_title">Upload PDF</h4>
			</div>
			<div class="col-md-8 col-xs-12 col-sm-12 login_form ">
				<div class="container-fluid">
						<div class="row">
							<h2></h2>
						</div>
					<div class="row">
						<form control="" class="form-group"  method="POST" th:action ="@{/upload/uploadFile}"  enctype="multipart/form-data">
							
							<div class="row">
								<input type="text" th:field="*{details.reportId}" name="reportid" id="reportid" class="form__input" placeholder="Enter ReportId ">
							</div>
							
							<div class="row">
								<input type="text" th:field="*{details.user.userId}" name="username" id="username" class="form__input" placeholder="Enter User Id ">
							</div>
							
							
							<div class="row">
								<input type="text" th:field="*{details.reportDate}" name="date" id="date" class="form__input" placeholder="Enter Report Date ">
							</div>
							
							
    						<br /><br />
							
							<div class="row">
							
								<select th:field="*{details.type.id}" >
									<option th:value="'R1'" th:text="E66"></option>
    								<option th:value="'R3'" th:text="G101"></option>
    								<option th:value="'R2'" th:text="E123"></option>
    								<option th:value="'R4'" th:text="GE224"></option>
								</select>
								
							</div>
							<br /><br />
							
							<div class="row">
								<br /><br /><input type="file"  name="file" id="file" ><br /><br />
							</div>
							
							<div class="row">
								<input type="submit" value="Submit" class="btn">
							</div>
						</form>
					</div>
					
				</div>
			</div>
		</div>
	</div>



<!-- <form method="POST" action="/upload/uploadFile" enctype="multipart/form-data">
    <input type="file" name="file" /><br/><br/>
    <input type="submit" value="Submit" />
</form>
 -->
</body>
</html>